<form action="/answer" method="get">
  <p>Ask your coach anything</p>
 <div class="form-group d-flex">
    <input type="text" name="question" class="form-control w-50 m-2">
    <input type="submit" value="Ask!" class="btn btn-info form-control m-2" style="width: 100px;">
  </div>
</form>
